{%- if site.data.sprites.meta != blank -%}
<!-- ===== SPRITES ===== -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none; visibility: hidden; max-height: 0;" aria-hidden="true">
  {% for icon in site.data.sprites.meta %}
    {% if icon.copyright | blank %}
  <!-- {{ icon.copyright }} -->
    {% else %}
      {% if site.data.sprites.always contains icon.id  or  page.sprites contains icon.id %}
  <symbol id="{{ icon.id }}" viewBox="0 0 {{ icon.box }}">
    <path fill="currentColor" d="{{ icon.data }}" />
  </symbol>
      {% endif %}
    {% endif %}
  {% endfor %}
</svg>
<!-- ===== /SPRITES ===== -->
{%- endif -%}
